<div class="modal-box">
  <h3 class="text-lg font-bold">Create asset</h3>
  <form method="post" action="/assets" class="mt-4">
    <div class="w-full">
      <label for="name" class="inline-block mb-1 font-bold">Name</label>
      <input id="name" name="name" type="text" placeholder="Jane" class="w-full px-3 py-1.5 border border-zinc-200 bg-white rounded-md" required />
    </div>
    <div class="mt-4 w-full">
      <label for="serialNumber" class="inline-block mb-1 font-bold">Serial number</label>
      <input id="serialNumber" name="serialNumber" type="text" placeholder="SN-A00000" class="w-full px-3 py-1.5 border border-zinc-200 bg-white rounded-md" required />
    </div>
    <div class="mt-4 w-full">
      <label for="employeeId" class="inline-block mb-1 font-bold">Employee</label>
      <div class="relative">
        <select id="employeeId" name="employeeId" class="w-full px-3 py-1.5 border border-zinc-200 bg-white rounded-md" required>
          <% employees.forEach( employee => { %>
            <option value="<%= employee.id %>"><%= employee.name %></option>
          <% } ); %>
        </select>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-3 h-3 absolute top-1/2 right-1 -translate-1/2"><path d="m6 9 6 6 6-6"/></svg>
      </div>
    </div>
    <div class="mt-6">
      <button class="px-3 py-1.5 border border-zinc-200 bg-zinc-100 rounded-md cursor-pointer">Submit</button>
    </div>
  </form>
</div>