<header class="p-4 sm:px-10 sm:py-6 border-b border-zinc-200">
  <nav>
    <ul class="flex items-center gap-8">
      <li><a href="/employees">Employees</a></li>
      <li><a href="/departments">Departments</a></li>
      <li><a href="/assets">Assets</a></li>
    </ul>
  </nav>
</header>