<form class="search-form w-full flex items-center">
  <div class="w-full relative">
    <label for="search" class="sr-only">Search</label>
    <input id="search" name="search" type="text" value="<%= query.search || '' %>" placeholder="Jane" class="w-full px-3 py-1.5 border border-zinc-200 bg-white rounded-s-md relative focus-visible:z-10" />
    <a href="<%= buildUrl({ search: '' }) %>" class="p-1 absolute top-1/2 -right-1 -translate-1/2 bg-amber-30043">
      <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-2 h-2"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
    </a>
  </div>
  <div>
    <button type="submit" class="px-3 py-1.5 border border-zinc-200 border-l-0 bg-zinc-100 rounded-e-md cursor-pointer relative focus-visible:z-10">Search</button>
  </div>
</form>