<!DOCTYPE html>

<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/svg+xml" href="images/favicon.svg">
    <title>Home</title>
    <meta name="title" content="@@title">
    <meta name="description" content="@@description">
    <meta property="og:type" content="website">
    <meta property="og:title" content="@@title">
    <meta property="og:description" content="@@description">
    <meta property="og:image" content="@@image">
    <meta property="og:url" content="@@url">
    <meta name="twitter:image" content="@@image">
    <meta name="twitter:card" content="summary_large_image">
    <link rel="icon" href="images/favicon.svg" sizes="32x32">
    <link rel="apple-touch-icon" href="images/favicon.svg">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/main.js" defer></script>
  </head>

  <body class="text-xs">
    <%- include('includes/header'); %>
    <section class="p-4 sm:p-10">
      <div class="border border-zinc-200 rounded-md">
        <div class="overflow-auto">
          <table class="w-full min-w-105 text-left table-fixed">
            <thead>
              <tr>
                <th class="w-11 pl-3 py-4.5"></th>
                <th class="px-3 py-4.5">Name</th>
                <th class="px-3 py-4.5">Value</th>
              </tr>
            </thead>
            <tbody>
              <tr class="group border-t border-zinc-200">
                <td class="pl-3 py-3">
                  <div class="w-7.5 h-7.5 shrink-0 flex items-center justify-center" popovertarget="popover-1" style="anchor-name:--anchor-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" class="w-4 h-4"><path d="M10 12h4"/><path d="M10 8h4"/><path d="M14 21v-3a2 2 0 0 0-4 0v3"/><path d="M6 10H4a2 2 0 0 0-2 2v7a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2h-2"/><path d="M6 21V5a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v16"/></svg>
                  </div>
                </td>
                <td class="p-3">Company</td>
                <td class="p-3">Name</td>
              </tr>
              <tr class="group border-t border-zinc-200">
                <td class="pl-3 py-3">
                  <button class="w-7.5 h-7.5 shrink-0 flex items-center justify-center" popovertarget="popover-1" style="anchor-name:--anchor-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" class="w-4 h-4"><path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"/><circle cx="12" cy="7" r="4"/></svg>
                  </button>
                </td>
                <td class="p-3">Employees</td>
                <td class="p-3">0 employees</td>
              </tr>
              <tr class="group border-t border-zinc-200">
                <td class="pl-3 py-3">
                  <div class="w-7.5 h-7.5 shrink-0 flex items-center justify-center" popovertarget="popover-1" style="anchor-name:--anchor-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" class="w-4 h-4"><path d="M10 8h.01"/><path d="M12 12h.01"/><path d="M14 8h.01"/><path d="M16 12h.01"/><path d="M18 8h.01"/><path d="M6 8h.01"/><path d="M7 16h10"/><path d="M8 12h.01"/><rect width="20" height="16" x="2" y="4" rx="2"/></svg>
                  </div>
                </td>
                <td class="p-3">Assets</td>
                <td class="p-3">0 assets</td>
              </tr>
              <tr class="group border-t border-zinc-200">
                <td class="pl-3 py-3">
                  <div class="w-7.5 h-7.5 shrink-0 flex items-center justify-center" popovertarget="popover-1" style="anchor-name:--anchor-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" class="w-4 h-4"><path d="M12 3v18"/><path d="M3 12h18"/><rect x="3" y="3" width="18" height="18" rx="2"/></svg>
                  </div>
                </td>
                <td class="p-3">Types</td>
                <td class="p-3">0 types</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </body>

</html>