@use 'variables'

html
  font-size: calc(100vw / 375 * 16)
  @media ( min-width: variables.$sm + 1px )
    font-size: calc(100vw / 1024 * 16)
  @media ( min-width: variables.$lg + 1px )
    font-size: calc(100vw / 1440 * 16)
  @media ( min-width: variables.$xxl + 1px )
    font-size: 1rem

body
  font-family: 'Roboto', sans-serif

select
  appearance: none
  -webkit-appearance: none
  -moz-appearance: none

.field-error
  margin-top: .25rem
  font-size: .625rem
  background: #FFF
  position: absolute
  top: 100%
  right: 0